.inputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#inputField {
    border: 2px solid white;
    background-color: #cc2323;
    border-radius: 10px;
    padding: 12px 15px;
    color: #152126;
    font-weight: 500;
    outline: none;
    caret-color: #152126;
    transition-duration: .3s;
    font-family: inherit;

    &:focus~.usernameLabel,
    &:valid~.usernameLabel {
        transform: translateX(20px);
        opacity: 1;
    }

    &:focus~.userIcon,
    &:focus~.userOther,
    &:valid~.userIcon,
    &:valid~.userOther {
        transform: translateX(20px);
        opacity: 1;
    }

    &:focus,
    &:valid {
        background-color: #eeeeee;
        transition-duration: .3s;
    }
}

.userIcon,
.userOther {
    position: absolute;
    top: -23px;
    left: -15px;
    opacity: 0;
    transition: .2s linear;
}

.userIcon {
    width: 12px;
    fill: #152126;
}

.userOther {
    width: 16px;
    stroke: #152126;
}

.usernameLabel {
    position: absolute;
    top: -25px;
    left: 5px;
    color: #152126;
    font-size: 14px;
    font-weight: 400;
    font-family: inherit;
    overflow: hidden;
    transition: .2s linear;
    opacity: 1;
}